	<aside id="left-panel" style="background:  #0099CC; color: red ">

			<!-- NAVIGATION : This navigation is also responsive-->
			<nav >
				<ul>
					
					<li>
						                 <!-- ICONO IR A INDEX BK DESDE EL FA-->                       
						<a href="#"><i class="flag flag-us"></i> <span class="menu-item-parent" style="color:  black">Ingles</span></a>

						<ul>
							<li>

                                <!-- NUNCA TIENE HIPERVINCULA style="color: blue;" <img src="img2/libroa.ico">  -->
								<a  >  <span class="menu-item-parent">Discipulado</span></a>

							 <!--    <a  href="tel:+573004458720"  title="Este Teléfono te comunica con nuestra sede" > <img src="img/telef55.png" ><p>Atzel :3004458720</p></a> -->
										    <ul>

							                            <li>
							                                <!-- NUNCA TIENE HIPERVINCULA style="color: blue;" -->
															<a  ng-click="limpiarpantalla()">  <span class="menu-item-parent">- Alimentacion</span></a>




				                                        </li>
																	
						                                      

										                <li>
											                 <!-- NUNCA TIENE HIPERVINCULA style="color: blue;" -->
															 <a  >  <span class="menu-item-parent">- Mujer</span></a>
																		  

																				     <ul>

																	                            <li>
																	                                <!-- NUNCA TIENE HIPERVINCULA style="color: blue;" -->
																	                                <!-- LLAMO LA FUNC Y LE ENVIO 3 PARAM A CONTROLLER-->
																									<a  ng-click="setUbicacionfer('discipulado','mujer','video','es')"> <img src="img/icono/video1.ico" style="width: 15%; hight: 15%"> <span class="menu-item-parent">Video</span></a>
																								

																	                            </li>



																	                            <li>
																	                                <!-- NUNCA TIENE HIPERVINCULA style="color: blue;" -->
																									<a  ng-click="setUbicacionfer('discipulado','mujer','audio','es')"> <img src="img2/music3.ico" style="width: 15%; hight: 15%"> <span class="menu-item-parent">Audio</span></a>
																								

																				                </li>
																	                            <li>
																	                                <!-- NUNCA TIENE HIPERVINCULA style="color: blue;" -->
																									<a ng-click="setUbicacionfer('discipulado','mujer','imagen','es')" > <img src="img/icono/imagen1.ico" style="width: 15%; hight: 15%"> <span class="menu-item-parent">Imagen</span></a>
																								

																	                            </li>
																	                            <li>
																	                                <!-- NUNCA TIENE HIPERVINCULA style="color: blue;" -->
																									<a  ng-click="setUbicacionfer('discipulado','mujer','documento','es')"> <img src="img/icono/pdf.ico" style="width: 15%; hight: 15%"> <span class="menu-item-parent">Documento</span></a>
																								

																	                            </li>

  																	                            <li>
																	                                <!-- NUNCA TIENE HIPERVINCULA style="color: blue;" -->
																									<a  ng-click="devolverTodos('discipulado','mujer','todos','es')"> <img src="img/png/folder1.png" style="width: 15%; hight: 15%"> <span class="menu-item-parent">Todos</span></a>
																								

																	                            </li>

																				    </ul>

											                        </li>



											                        <li>
											                                <!-- NUNCA TIENE HIPERVINCULA style="color: blue;" -->
																			<a  ng-click="limpiarpantalla()">  <span class="menu-item-parent">- Las Fiestas</span></a>
																		

														            </li>
											                        <li>
											                                <!-- NUNCA TIENE HIPERVINCULA style="color: blue;" -->
																			<a ng-click="limpiarpantalla()" >  <span class="menu-item-parent">- Hebreo</span></a>
																		

										                            </li>

													          



							               </ul>

                            </li>
                            <li>
                                <!-- NUNCA TIENE HIPERVINCULA style="color: blue;" <img src="img/icono/radio.ico">-->
								<a  ng-click="limpiarpantalla()">  <span class="menu-item-parent"  >Emisora Radio</span></a>
							    <ul>

				                            <li>
				                                <!-- NUNCA TIENE HIPERVINCULA style="color: blue;" -->
												<a  > <img src="img/icono/video1.ico"> <span class="menu-item-parent">Video</span></a>
											

				                            </li>



				                            <li>
				                                <!-- NUNCA TIENE HIPERVINCULA style="color: blue;" -->
												<a  > <img src="img/icono/music3.ico"> <span class="menu-item-parent">Audio</span></a>
											

							                </li>
				                            <li>
				                                <!-- NUNCA TIENE HIPERVINCULA style="color: blue;" -->
												<a  > <img src="img/icono/imagen1.ico"> <span class="menu-item-parent">Imagen</span></a>
											

				                            </li>

							    </ul>

                            </li>
                            <li>
                                <!-- NUNCA TIENE HIPERVINCULA style="color: blue;" <img src="img/icono/conversatorio.ico">-->
								<a  ng-click="limpiarpantalla()">  <span class="menu-item-parent">Conversatorios</span></a>
							

                            </li>
            
							<!-- este el fin ul  -->
						</ul>


					</li>


					<li>
						                 <!-- ICONO IR A INDEX BK DESDE EL FA-->                       
						<a href="#"><i class="flag flag-pt"></i> <span class="menu-item-parent" style="color:  black">Portugues</span></a>

						<ul>
							<li>
                                <!-- NUNCA TIENE HIPERVINCULA style="color: blue;" -->
								<a  > <img src="img/icono/video1.ico"></i> <span class="menu-item-parent">VIDEO</span></a>
							

                            </li>
                            <li>
                                <!-- NUNCA TIENE HIPERVINCULA style="color: blue;" -->
								<a  > <img src="img/icono/music2.ico"> <span class="menu-item-parent">AUDIO</span></a>
							

                            </li>
                            <li>
                                <!-- NUNCA TIENE HIPERVINCULA style="color: blue;" -->
								<a  > <img src="img/icono/imagen1.ico"><span class="menu-item-parent">IMAGEN</span></a>
							

                            </li>
            
							<!-- este el fin ul  -->
						</ul>


					</li>



					<li>
						                 <!-- ICONO IR A INDEX BK DESDE EL FA-->                       
						<a href="#"><i class="flag flag-fr"></i> <span class="menu-item-parent" style="color:  black">Frances</span></a>

						<ul>
							<li>
                                <!-- NUNCA TIENE HIPERVINCULA style="color: blue;" -->
								<a  > <img src="img/icono/carpeta1.ico"> <span class="menu-item-parent">VIDEO</span></a>
							

                            </li>
                            <li>
                                <!-- NUNCA TIENE HIPERVINCULA style="color: blue;" -->
								<a  > <img src="img/icono/carpeta1.ico"> <span class="menu-item-parent">AUDIO</span></a>
							

                            </li>
                            <li>
                                <!-- NUNCA TIENE HIPERVINCULA style="color: blue;" -->
								<a  > <img src="img/icono/carpeta1.ico"> <span class="menu-item-parent">IMAGEN</span></a>
							

                            </li>
            
							<!-- este el fin ul  -->
						</ul>


					 </li>
			
			
					

			</nav>
			<span class="minifyme" data-action="minifyMenu"> 

				<!-- flecha que maneja el treview" -->
				<i class="fa fa-arrow-circle-left hit"></i> 
			</span>

		</aside>